<!DOCTYPE html>
<html class="no-js" lang="">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
            <!--[if IE]>
                <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
            <![endif]-->
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>